Sites/xsd/ContextMenus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  id="ContextMenus" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
      <xs:element name="objectcontextmenu">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="disableditems">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="item">
                    <xs:complexType>
                      <xs:attribute name="roles" type="xs:string" />                  
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>     
    
</xs:schema>
